<div class="card m-1">
  <div class="card-body">
    <h5 class="card-title text-center">
      {{ title
      }}<ng-container *ngIf="quantity">
        - <small>{{ quantity }}</small></ng-container
      >
    </h5>
    <div class="float-left pr-3" style="max-width: 14rem">
      <div class="d-flex justify-content-start flex-wrap">
        <app-exploding-card
          *ngFor="let type of types"
          [card]="{ uuid: '', type: type }"
        >
        </app-exploding-card>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</div>
