<app-bootstrap-container>
  <app-game-header [name]="game.name"></app-game-header>
  <div
    class="flex-grow-1 d-flex flex-column align-content-center text-center"
    *ngIf="game != null"
  >
    <div *ngIf="game.ending != null" class="p-2">
      <h2>
        FINI !!! Victoire des
        {{ game.ending.winningTeam == CodeNameColor.RED ? 'ROUGES' : 'BLEUS' }}
      </h2>
      <h4 *ngIf="game.ending.blackFound">L'autre équipe a trouvé le noir</h4>
      <h4 *ngIf="game.ending.otherFound">
        L'autre équipe a trouvé le dernier nom
      </h4>
    </div>
    <div *ngIf="game.ending == null && game.hint != null" class="p-2">
      <h2 [class]="game.turn">
        Aux {{ game.turn === CodeNameColor.RED ? 'Rouges' : 'Bleus' }} de jouer
      </h2>
      <h4 *ngIf="game.hint.hint == null">En attente du maître espion</h4>
      <h4 *ngIf="game.hint.hint != null">
        "{{ game.hint.hint }}" pour {{ game.hint.numberOfNames }} nom(s) de code
      </h4>
    </div>
    <div [class]="'text-center ' + me.team">
      <app-spy [spy]="me"></app-spy>
    </div>
    <div class="d-inline-flex justify-content-around">
      <div *ngFor="let m of game.missing" [class]="m.first + ' p-1'">
        {{ m.first === CodeNameColor.RED ? 'Rouges' : 'Bleus' }} -
        {{ m.second }}
      </div>
    </div>
    <div *ngIf="game.canSubmitHint">
      <div class="d-flex justify-content-center">
        <form
          [formGroup]="formGroup"
          (ngSubmit)="onGiveHint()"
          class="form-inline"
        >
          <div class="form-group">
            <input
              formControlName="hint"
              id="hint"
              class="form-control hint-input m-1"
              placeholder="Indices"
            />
            <input
              formControlName="numberOfNames"
              class="form-control number-input m-1 w-25"
              id="numberOfNames"
              placeholder="Nb Corresp."
            />
            <button class="btn btn-outline-primary" type="submit">
              Enregistrer
            </button>
          </div>
        </form>
      </div>
    </div>
    <div>
      <div class="d-flex flex-wrap">
        <div
          class="game-card flex-grow-1"
          *ngFor="let card of game.codeNames; let i = index"
          (click)="onNamesSelected(i)"
          [class]="'game-card-' + card.color"
        >
          <div>
            {{ card.name }}
          </div>
          <div
            class="d-flex justify-content-center"
            *ngIf="game.hint?.icons != null"
          >
            <ng-container *ngFor="let img of game.hint.icons[i]">
              <div [inlineSVG]="'/icons/' + img + '.svg'" class="icon"></div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="game.canEndTurn">
      <button class="btn btn-primary" (click)="onNextTurnGame()">
        Finir le tour
      </button>
    </div>
    <div *ngIf="game.ending != null">
      <button class="btn btn-primary" (click)="onResetGame()">
        Nouvelle partie
      </button>
    </div>

    <div class="d-flex flex-row justify-content-around">
      <app-team [spies]="game.spies" [team]="CodeNameColor.RED"> </app-team>
      <app-team [spies]="game.spies" [team]="CodeNameColor.BLUE"> </app-team>
    </div>
  </div>
</app-bootstrap-container>
