<app-bootstrap-container>
  <app-game-header [name]="game.name"></app-game-header>

  <div class="d-flex flex-row overflow-hidden header justify-content-around">
    <div class="m-2 d-flex flex-column">
      <div ngbDropdown class="p-1 d-inline-block">
        <button
          class="btn btn-outline-primary m-1"
          id="cardsDropDown"
          ngbDropdownToggle
        >
          {{ param == null ? 'SINGLE_CARD' : param }}
        </button>
        <div ngbDropdownMenu aria-labelledby="cardsDropDown">
          <div ngbDropdownItem (click)="setParam(null)">Carte simple</div>
          <div
            ngbDropdownItem
            (click)="setParam(ExplodingCardType.DOUBLE_CARD)"
          >
            Deux cartes
          </div>
          <div
            ngbDropdownItem
            (click)="setParam(ExplodingCardType.TRIPLE_CARD)"
          >
            Trois cartes
          </div>
          <div
            ngbDropdownItem
            (click)="setParam(ExplodingCardType.QUINTUPLE_CARD)"
          >
            Cinq cartes
          </div>
        </div>
      </div>
      <button
        class="btn btn-primary p-1 m-1"
        (click)="drawCard()"
        [disabled]="!canDrawCard()"
      >
        Piocher
      </button>
      <button
        class="btn btn-primary p-1 m-1"
        [disabled]="!canKeepCard()"
        (click)="keepCard()"
      >
        Garder la carte
      </button>
      <button
        class="btn btn-primary p-1 m-1"
        [disabled]="!canDefuse()"
        (click)="defuse()"
      >
        Defuse
      </button>
      <button
        class="btn btn-primary p-1 m-1"
        [disabled]="!canDie()"
        (click)="die()"
      >
        Die !
      </button>
    </div>
    <div class="m-2 d-flex flex-column">
      <div
        class="d-inline-flex text-center"
        *ngFor="let player of game.players"
        [ngClass]="{ 'font-weight-bolder': player.uuid === me.uuid }"
      >
        <div
          [inlineSVG]="'/icons/' + player.icon + '.svg'"
          class="icon p-1"
        ></div>
        <div class="p-1">
          {{ player.name }}
        </div>
        <div class="p-1">
          {{ player.cards.length }}
        </div>
        <div
          inlineSVG="/icons/files.svg"
          class="icon p-1 selector"
          (click)="displayCards(player)"
        ></div>
        <div
          *ngIf="player.cursed"
          inlineSVG="/icons/emoji-dizzy.svg"
          class="icon p-1"
        ></div>
      </div>
    </div>
    <div class="m-2">
      <h2>Pioche ({{ game.drawPileSize }})</h2>
      <app-exploding-card
        *ngIf="game?.nextDrawCard"
        [card]="game?.nextDrawCard"
      >
      </app-exploding-card>
    </div>
    <div class="m-2">
      <h2>Défausse</h2>
      <div class="overlapping-cards">
        <div class="overlapping-card" *ngFor="let card of game.previousTurn">
          <app-exploding-card [card]="card"> </app-exploding-card>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-start">
    <div class="m-2 w-50">
      <h2>
        Cartes jouées
        <ng-container *ngIf="target">contre {{ target.name }}</ng-container>
      </h2>
      <div class="d-flex justify-content-start flex-wrap invisible-card">
        <app-exploding-card
          *ngFor="let card of game?.cardsPlayed"
          [card]="card"
        >
        </app-exploding-card>
        <app-exploding-card
          *ngFor="let i of Array(game.nopeCount).fill(1)"
          [card]="{ uuid: '' + i, type: ExplodingCardType.NOPE }"
        >
        </app-exploding-card>
      </div>
    </div>
    <div class="m-2" *ngIf="game.wantedCard">
      <h2>Cartes demandée</h2>
      <div class="d-flex justify-content-start flex-wrap invisible-card">
        <app-exploding-card
          [card]="{ uuid: 'wc', type: game?.wantedCard }"
        ></app-exploding-card>
      </div>
    </div>
    <div class="m-2">
      <h2>Carte piochée</h2>
      <div class="d-flex justify-content-start flex-wrap">
        <app-exploding-card *ngIf="game?.cardDrawn" [card]="game?.cardDrawn">
        </app-exploding-card>
        <app-exploding-card *ngIf="game?.lastPlayed" [card]="game?.lastPlayed">
        </app-exploding-card>
      </div>
    </div>
  </div>
  <h2>Main</h2>
  <div class="selector d-flex justify-content-start flex-wrap">
    <app-exploding-card
      *ngFor="let card of game?.cards"
      [card]="card"
      [playable]="selfTurn || game.canNope"
      (clicked)="playCard($event)"
    >
    </app-exploding-card>
  </div>
</app-bootstrap-container>
