.header
  min-height: 300px

.invisible-card
  min-height: 98px // 90 from svg + 4*2 for p-1

.overlapping-cards
  --distance: 3rem
  display: flex
  width: 120px
  .overlapping-card
    &:not(:first-child)
      margin-left: calc(var(--distance)*-1)

.overlapping-card:hover,
.overlapping-card:focus-within
  transform: translatey(-1rem)

.overlapping-card:hover ~ .overlapping-card,
.overlapping-card:focus-within ~ .overlapping-card
  transform: translatex(var(--distance))

