<table
  class="score-table"
  mat-table
  [dataSource]="statistics"
  style="width: 100%"
>
  <ng-container matColumnDef="statName">
    <th class="title-cell" mat-header-cell *matHeaderCellDef style="width: 60%">
      Statistiques
    </th>
    <td mat-cell *matCellDef="let stat">
      <b>{{ stat.name }}</b>
    </td>
  </ng-container>
  <ng-container matColumnDef="selfResult">
    <th mat-header-cell *matHeaderCellDef style="width: 20%">Moi</th>
    <td mat-cell *matCellDef="let stat">
      <b>{{ stat.display(self) }}</b>
    </td>
  </ng-container>
  <ng-container matColumnDef="compareResult" style="width: 20%">
    <th mat-header-cell *matHeaderCellDef>
      {{
        playerToCompare != null
          ? playerToCompare.name
          : 'Cliquer sur un joueur pour comparer'
      }}
    </th>
    <td mat-cell *matCellDef="let stat">
      <span>{{
        playerToCompare != null ? stat.display(playerToCompare) : ''
      }}</span>
    </td>
  </ng-container>
  <tr
    mat-header-row
    *matHeaderRowDef="['statName', 'selfResult', 'compareResult']"
  ></tr>
  <tr
    mat-row
    *matRowDef="let user; columns: ['statName', 'selfResult', 'compareResult']"
  ></tr>
</table>
