<div class="m-3">
  <h2>Choisissez un type voulu</h2>
  <div class="d-flex justify-content-start flex-wrap">
    <app-exploding-card
      *ngFor="let type of types"
      [card]="{ uuid: '', type: type }"
      [playable]="true"
      (clicked)="modal.close(type)"
    >
    </app-exploding-card>
  </div>
</div>
