.cursor
  cursor: pointer

.square
  height: 20px

.square-GREEN
  border: 1px solid var(--uno-green)
  background: var(--uno-green)


.square-YELLOW
  border: 1px solid var(--uno-yellow)
  background: var(--uno-yellow)

.square-BLUE
  border: 1px solid var(--uno-blue)
  background: var(--uno-blue)

.square-RED
  border: 1px solid var(--uno-red)
  background: var(--uno-red)
