<app-bootstrap-container>
  <app-game-header [name]="game.name"></app-game-header>
  <div>
    <div class="text-center">
      <h2>
        {{ me.name }}
        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-primary ml-3"
            id="colorDropDown"
            ngbDropdownToggle
          >
            Couleurs
          </button>
          <div ngbDropdownMenu aria-labelledby="colorDropDown">
            <app-uno-color-button
              *ngFor="let item of colorSettings | keyvalue"
              [colorSetting]="item.value"
              (click)="onChangeColor(item.key)"
              ngbDropdownItem
            >
            </app-uno-color-button>
          </div>
        </div>
      </h2>
    </div>
    <div class="d-flex flex-row justify-content-between m-2 header">
      <div class="uno-card">
        <app-uno-card
          [card]="game.cardPlayed"
          [color]="game.selectedColor"
        ></app-uno-card>
      </div>
      <div>
        <div class="d-flex flex-column">
          <button
            class="btn btn-primary p-1 m-1"
            (click)="onSkip()"
            [disabled]="!canSkip"
          >
            Piocher
            <ng-container *ngIf="canSkip && game.sum > 0">
              {{ game.sum }}</ng-container
            >
          </button>
          <button
            class="btn btn-primary p-1 m-1"
            (click)="onSkip()"
            [disabled]="!hasAlreadySkip"
          >
            Passer
          </button>
          <button
            class="btn btn-primary p-1 m-1"
            (click)="onSayUno()"
            [disabled]="!canUno"
          >
            Uno
          </button>
          <button
            class="btn btn-primary p-1 m-1"
            (click)="onCounterUno()"
            [disabled]="!canCounter"
          >
            Contre Uno
          </button>
          <div class="p-1 m-1">Valeur de la main : {{ score }}</div>
        </div>
      </div>
      <div class="d-flex justify-content-start flex-column overflow-hidden">
        <app-players-list
          [players]="game.players"
          [selfUuid]="me.uuid"
          [extraInfo]="getCardCountOfPlayer"
        >
        </app-players-list>
      </div>
    </div>
    <div class="d-flex justify-content-start flex-wrap">
      <div class="uno-card" *ngFor="let card of game.cards">
        <app-uno-card
          [card]="card"
          [active]="canPlay(card)"
          (clicked)="onCardClicked($event)"
        >
        </app-uno-card>
      </div>
    </div>
  </div>
</app-bootstrap-container>
