<app-bootstrap-container>
  <app-game-header [name]="name"></app-game-header>
  <div class="d-flex justify-content-center">
    <button
      class="btn btn-primary m-1"
      (click)="onStartGame()"
      [disabled]="!canStart"
    >
      Start
    </button>
    <button class="btn btn-primary m-1" (click)="onShufflePlayers()">
      Mélanger les joueurs
    </button>
  </div>
  <hr />
  <div class="d-flex justify-content-center flex-column">
    <div
      *ngFor="let player of players"
      class="p-2 text-center d-flex flex-row justify-content-center"
      [ngClass]="{ 'font-weight-bolder': player.uuid === me.uuid }"
    >
      <div class="p-2 d-inline-flex">
        <div
          [inlineSVG]="'/icons/' + player.icon + '.svg'"
          class="icon p-1"
        ></div>
        <div class="p-1">
          {{ player.name }}
        </div>
        <div
          *ngIf="player.lastWinner"
          class="icon p-1"
          inlineSVG="/icons/award-fill.svg"
        ></div>
      </div>
    </div>
  </div>
  <hr />

  <div class="d-inline-flex pt-4">
    <div inlineSVG="/icons/info-circle.svg" class="pr-2"></div>
    <div>Afin de pouvoir commencer la partie, il faut au moins 2 joueurs.</div>
  </div>
  <div class="m-2">
    <a routerLink="/exploding/help" class="card-link" target="_blank">
      Explication des cartes
      <span inlineSVG="/icons/chevron-right.svg" class="pr-2"></span>
    </a>
  </div>
</app-bootstrap-container>
