<mat-card>
  <div fxLayout="row" fxLayoutAlign="start start">
    <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="start stretch">
      <mat-card-header>
        <img
          mat-card-avatar
          aria-hidden="true"
          [src]="'assets/games/' + game.type + '.png'"
        />
        <mat-card-title class="game-title">
          <b>{{ game.name }}</b>
          <span *ngIf="isNew" class="new-game-indicator"> nouveau </span>
        </mat-card-title>
        <mat-card-subtitle
          ><span>{{ game.type | gameType }}</span></mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content></mat-card-content>
    </div>
    <div
      class="players-count-container"
      fxLayout="column"
      fxLayoutAlign="start center"
      [matTooltip]="game.playerNames | concatStringArray"
      matTooltipPosition="right"
    >
      <div
        *ngIf="
          game.playerNames != null && game.playerNames.length > 0;
          else noPlayers
        "
        class="players-count"
      >
        {{ game.playerNames.length }}
      </div>
      <ng-template #noPlayers><div class="players-count">0</div></ng-template>
      <div>joueur(s)</div>
    </div>
  </div>
  <mat-card-actions fxLayout="row" fxLayoutAlign="start center">
    <app-code-name-game *ngIf="game.type === GameType.CODE_NAMES" [game]="game">
    </app-code-name-game>
    <app-uno-game *ngIf="game.type === GameType.UNO" [game]="game">
    </app-uno-game>
    <app-exploding-game *ngIf="game.type === GameType.EXPLODING" [game]="game">
    </app-exploding-game>
  </mat-card-actions>
</mat-card>
