<div class="m-3">
  <h2>Choisissez un joueur</h2>
  <div class="d-flex flex-column">
    <ng-container *ngFor="let player of players">
      <div
        class="selector d-inline-flex text-center justify-content-center"
        *ngIf="!player.self"
        (click)="modal.close(player.uuid)"
      >
        <div
          [inlineSVG]="'/icons/' + player.icon + '.svg'"
          class="icon p-1"
        ></div>
        <div class="p-1">
          {{ player.name }}
        </div>
        <div class="p-1">
          {{ player.cards.length }}
        </div>
        <div
          *ngIf="player.cursed"
          inlineSVG="/icons/emoji-dizzy.svg"
          class="icon p-1"
        ></div>
      </div>
    </ng-container>
  </div>
</div>
