.played
  background-color: red

.exploding-card
  display: block
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  width: 60px
  height: 90px
  background-position: center
  background-size: auto
  position: relative
  .marked
    position: absolute
    width: 24px
    height: 24px
    z-index: 10020
    bottom: 3px
    right: 3px
    background-image: url(~src/assets/exploding/MARK-icon.svg)
