<app-bootstrap-container>
  <div class="d-flex justify-content-start flex-wrap">
    <app-help-card
      class="w-50"
      title="Defuse"
      quantity="1 par joueur dès le début"
      [types]="[ExplodingCardType.DEFUSE]"
    >
      <p>
        Lorsque le joueur pioche une bombe, il doit jouer un defuse pour pouvoir
        replacer la bombe dans la pioche à l'endroit de son choix.
      </p>
      <p>
        Si je joueur n'a pas de Defuse, il est mort et toutes ses cartes sont
        défaussées.
      </p>
      <p>
        <b>Variante malédiction :</b> le joueur doit trouver le defuse au hasard
        dans ses cartes. Si la carte tirée n'est pas un defuse elle est
        défaussée directement.
      </p>
    </app-help-card>
    <app-help-card
      class="w-50"
      title="Carte blanche"
      quantity="4 par type"
      [types]="[
        ExplodingCardType.TACO_CAT,
        ExplodingCardType.CATTERMELON,
        ExplodingCardType.BEARD_CAT,
        ExplodingCardType.RAINBOW_CAT,
        ExplodingCardType.POTATO_CAT
      ]"
    >
      <p>
        Cette carte ne peut être jouée seule. Voir variante 2, 3 ou 5 cartes
        pour son utilisation.
      </p>
      <p>
        <b>Variante malédiction :</b> Si cette carte est jouée en étant maudit,
        elle est directement défaussée.
      </p>
    </app-help-card>
    <app-help-card
      class="w-50"
      title="Exploding kitten"
      quantity="Nombre de joueurs - 2"
      [types]="[ExplodingCardType.EXPLODING]"
    >
      <p>
        Lorsque cette carte est piochée ou échangée, le joueur la recevant doit
        jouer un Defuse pour survivre.
      </p>
    </app-help-card>
    <app-help-card
      class="w-50"
      title="Imploding kitten"
      quantity="1"
      [types]="[ExplodingCardType.IMPLODING]"
    >
      <p>
        La première fois que cette carte est piochée, elle est retournée et
        remise dans la pioche sans avoir besoin de défausser un defuse.
      </p>
      <p>
        La seconde fois qu'elle est piochée, le joueur meurt instantanément
        quelque soit sa main.
      </p>
    </app-help-card>

    <app-help-card
      class="w-25"
      title="Shuffle"
      quantity="4"
      [types]="[ExplodingCardType.SHUFFLE]"
    >
      <p>Permet de mélanger la pioche.</p>
    </app-help-card>
    <app-help-card
      class="w-25"
      title="Favor"
      quantity="4"
      [types]="[ExplodingCardType.FAVOR]"
    >
      <p>
        Cette carte permet de demander à un joueur de son choix de donner une
        carte de sa main.
      </p>
    </app-help-card>
    <app-help-card
      class="w-25"
      title="Feral cat"
      quantity="4"
      [types]="[ExplodingCardType.FERAL_CAT]"
    >
      <p>
        Joker à jouer avec les cartes blanches pour faire des combinaisons de 2
        ou 3 cartes.
      </p>
    </app-help-card>
    <app-help-card
      class="w-25"
      title="Swap top and bottom"
      quantity="3"
      [types]="[ExplodingCardType.SWAP_TOP_AND_BOTTOM]"
    >
      <p>
        Permet d'échanger la carte du dessus et la carte du dessous de la
        pioche.
      </p>
      <p>
        <b>Ne pioche pas.</b>
      </p>
    </app-help-card>
    <app-help-card
      class="w-50"
      title="Nope"
      quantity="5"
      [types]="[ExplodingCardType.NOPE]"
    >
      <p>
        Cette carte permet contrer une action. Elle doit être jouée juste après
        une carte jouée par un autre joueur.
      </p>
      <p>Ne peut pas annuler un defuse.</p>
      <p>
        Un timer d'une seconde est en place, si un nope est joué, celui-ci est
        remis à 0 et un autre joueur a une seconde pour jouer son nope s'il le
        souahite.
      </p>
    </app-help-card>
    <app-help-card
      class="w-25"
      title="Skip"
      quantity="4"
      [types]="[ExplodingCardType.SKIP]"
    >
      <p>Cette carte permet de terminer <b>1</b> tour sans piocher.</p>
    </app-help-card>
    <app-help-card
      class="w-25"
      title="Super skip"
      quantity="1"
      [types]="[ExplodingCardType.SUPER_SKIP]"
    >
      <p>Cette carte permet de terminer <b>2</b> tour sans piocher.</p>
    </app-help-card>
    <app-help-card
      class="w-25"
      title="Attack"
      quantity="4"
      [types]="[ExplodingCardType.ATTACK]"
    >
      <p>
        Cette carte termine le tour et force le joueur suivant à jouer
        <b>2</b> tours, même si le joueur a 2 tours à jouer.
      </p>
    </app-help-card>
    <app-help-card
      class="w-25"
      title="Targeted Attack"
      quantity="3"
      [types]="[ExplodingCardType.TARGETED_ATTACK]"
    >
      <p>
        Cette carte termine le tour et force le joueur de son choix à jouer
        <b>2</b> tours, même si le joueur a 2 tours à jouer.
      </p>
    </app-help-card>
    <app-help-card
      class="w-25"
      title="Reverse"
      quantity="4"
      [types]="[ExplodingCardType.REVERSE]"
    >
      <p>Inverse l'ordre de jeu des joueurs et termine <b>1</b> tour.</p>
    </app-help-card>
    <app-help-card
      class="w-25"
      title="Draw from the bottom"
      quantity="4"
      [types]="[ExplodingCardType.DRAW_FROM_THE_BOTTOM]"
    >
      <p>
        Pioche une carte mais en dessous de la pioche au lieu du dessus. Même
        action ensuite que si le joueur avait pioché.
      </p>
    </app-help-card>

    <app-help-card
      class="w-25"
      title="See the future x3"
      quantity="5"
      [types]="[ExplodingCardType.SEE_THE_FUTURE_3]"
    >
      <p>
        Cette carte permet de regarder les 3 prochaines cartes de la pioche sans
        en changer l'ordre.
      </p>
    </app-help-card>
    <app-help-card
      class="w-25"
      title="See the future x5"
      quantity="1"
      [types]="[ExplodingCardType.SEE_THE_FUTURE_5]"
    >
      <p>
        Cette carte permet de regarder les 5 prochaines cartes de la pioche sans
        en changer l'ordre.
      </p>
    </app-help-card>
    <app-help-card
      class="w-25"
      title="See the future x3"
      quantity="5"
      [types]="[ExplodingCardType.ALTER_THE_FUTURE_3]"
    >
      <p>
        Cette carte permet de piocher les 3 prochaines cartes, de les réordonner
        puis de les remettre sur la pioche.
      </p>
    </app-help-card>
    <app-help-card
      class="w-25"
      title="See the future x5"
      quantity="1"
      [types]="[ExplodingCardType.ALTER_THE_FUTURE_5]"
    >
      <p>
        Cette carte permet de piocher les 5 prochaines cartes, de les réordonner
        puis de les remettre sur la pioche.
      </p>
    </app-help-card>
    <app-help-card
      class="w-25"
      title="Mark"
      quantity="3"
      [types]="[ExplodingCardType.MARK]"
    >
      <p>
        Permet de marquer une carte de la main d'un autre joueur. Une carte
        marquée est visible par les autres joueurs.
      </p>
    </app-help-card>
    <app-help-card
      class="w-75"
      title="Curse of the cat butt"
      quantity="2"
      [types]="[ExplodingCardType.CURSE_OF_THE_CAT_BUTT]"
    >
      <p>
        Maudit le joueur. Un joueur maudit ne peut pas voir quelle carte il joue
        sauf si celle-ci est marquée.
      </p>
      <p>
        Le seul moyen de lever la malédiction est de piocher une carte. Si
        celle-ci peut être mise dans la main directement la malédiction est
        levée directement, si il s'agit d'une bombe, le joueur doit chercher à
        l'aveugle le defuse dans sa main (si il en a un). Toute carte qui n'est
        pas un defuse est défaussé.
      </p>
      <p>
        Un joueur maudit peut décider de jouer une carte sans savoir de laquelle
        il s'agit. Si il décide de le faire l'effet sera toujours appliqué, si
        il n'y a aucun effet, la carte est défaussée.
      </p>
    </app-help-card>
    <app-help-card
      class="w-50"
      title="Garbage collector"
      quantity="1"
      [types]="[ExplodingCardType.CURSE_OF_THE_CAT_BUTT]"
    >
      <p>
        Force tous les joueurs à se défausser d'une carte, même le joueur ayant
        joué cette carte. Si un joueur n'a pas de carte, ce n'est pas grave.
      </p>
      <p>
        Les cartes défaussées sont rajoutées à la pioche et celle-ci est
        mélangée.
      </p>
    </app-help-card>
    <app-help-card
      class="w-50"
      title="Catomic Bomb"
      quantity="1"
      [types]="[ExplodingCardType.CATOMIC_BOMB]"
    >
      <p>
        Retire tous les exploding kitten de la pioche, mélange les éléments
        restants puis replace tous les exploding au sommet de la pioche. Cette
        carte termine <b>1</b> tour.
      </p>
      <p>L'imploding kitten n'est pas affecté par cette carte.</p>
    </app-help-card>
    <app-help-card
      class="w-50"
      title="Streaking kitten (NON SUPPORTE)"
      quantity="1"
      [types]="[ExplodingCardType.STREAKING_KITTEN]"
    >
      <p>
        Permet de garder une bombe dans sa main. Celle-ci peut ensuite être
        défaussée lors d'un Favor ou d'un garbage collector.
      </p>
      <p>
        Si le streaking est perdu alors qu'une bombe est dans la main du joueur
        qui le perd alors celui-ci doit defuse la bombe si il le peut, sinon il
        meurt.
      </p>
    </app-help-card>
    <app-help-card
      class="w-50"
      title="Deux cartes"
      [types]="[ExplodingCardType.REVERSE, ExplodingCardType.REVERSE]"
    >
      <p>Permet de piocher une carte dans la main d'un joueur.</p>
      <p>
        Les deux cartes doivent avoir exactement le même type, sauf pour le
        Feral Cat qui peut remplacer une carte blanche.
      </p>
    </app-help-card>
    <app-help-card
      class="w-50"
      title="Trois cartes"
      [types]="[
        ExplodingCardType.TACO_CAT,
        ExplodingCardType.TACO_CAT,
        ExplodingCardType.FERAL_CAT
      ]"
    >
      <p>
        Permet de demander un type de carte à un joueur. Si celui-ci a une carte
        de ce type alors il doit la donner au joueur. Si il n'en a pas alors les
        cartes sont défaussées.
      </p>
      <p>
        Les trois cartes doivent avoir exactement le même type, sauf pour le
        Feral Cat qui peut remplacer une carte blanche.
      </p>
    </app-help-card>
    <app-help-card
      class="w-50"
      title="Cinq cartes"
      [types]="[
        ExplodingCardType.TACO_CAT,
        ExplodingCardType.CATOMIC_BOMB,
        ExplodingCardType.FERAL_CAT,
        ExplodingCardType.SEE_THE_FUTURE_3,
        ExplodingCardType.MARK
      ]"
    >
      <p>
        Permet de demander une carte par son type dans la défausse. Si la carte
        n'a jamais été jouée alors les cartes sont défaussées et rien ne se
        passe.
      </p>
      <p>
        Toutes les cartes doivent être différentes, le Feral Cat ne se comporte
        plus comme un joker mais comme un type à part entière.
      </p>
      <p>
        Le streaking et l'exploding kitten ne peuvent être utilisés pour faire
        cette action.
      </p>
    </app-help-card>
  </div>
</app-bootstrap-container>
