<div>
  <button
    *ngIf="game.joinable"
    mat-raised-button
    color="accent"
    (click)="onJoin(game)"
  >
    Rejoindre
  </button>
  <button
    *ngIf="!game.joinable"
    mat-raised-button
    color="accent"
    (click)="onReplay(game)"
  >
    Rejoindre
  </button>
</div>
