<div class="m-3">
  <h2>Choisissez une position</h2>
  <form [formGroup]="formGroup" (ngSubmit)="onSave()" class="form-inline">
    <div class="form-group">
      <input
        formControlName="selectedPosition"
        class="form-control number-input m-1 w-50"
        id="selectedPosition"
        autocomplete="off"
        [placeholder]="'Max: ' + drawPileSize"
      />
      <button
        class="btn btn-outline-primary"
        type="submit"
        [disabled]="formGroup.invalid"
      >
        Enregistrer
      </button>
    </div>
  </form>
</div>
