<ng-container *ngIf="card.type !== UnoCardType.NUMBER">
  <div
    [inlineSVG]="'assets/uno/' + card.type + '.svg'"
    [class]="color != null ? 'active-' + color : 'color-' + card.color"
    (click)="onCardClicked()"
  ></div>
</ng-container>
<ng-container *ngIf="card.type === UnoCardType.NUMBER">
  <div
    [inlineSVG]="'assets/uno/' + card.type + '-' + card.number + '.svg'"
    [class]="color != null ? 'active-' + color : 'color-' + card.color"
    (click)="onCardClicked()"
  ></div>
</ng-container>
