<app-bootstrap-container>
  <app-game-header [name]="name"></app-game-header>
  <div class="d-flex justify-content-center">
    <button
      class="btn btn-primary m-1"
      (click)="onStartGame()"
      [disabled]="!canStart"
    >
      Start
    </button>
  </div>
  <div class="d-flex justify-content-around align-content-stretch">
    <div>
      <app-team [spies]="spies" [team]="CodeNameColor.RED"> </app-team>
    </div>
    <div class="d-flex flex-column justify-content-around">
      <button
        class="btn btn-light p-1 BLUE"
        [disabled]="me.team === CodeNameColor.BLUE"
        (click)="onJoinTeam(CodeNameColor.BLUE)"
        inlineSVG="/icons/chevron-double-right.svg"
      ></button>
      <button
        class="btn btn-light p-1"
        [disabled]="me.spyMaster"
        inlineSVG="/icons/award.svg"
        (click)="onMasterPush()"
      ></button>
      <button
        class="btn btn-light p-1 RED"
        [disabled]="me.team === CodeNameColor.RED"
        (click)="onJoinTeam(CodeNameColor.RED)"
        inlineSVG="/icons/chevron-double-left.svg"
      ></button>
    </div>
    <div>
      <app-team [spies]="spies" [team]="CodeNameColor.BLUE"> </app-team>
    </div>
  </div>
  <div class="d-inline-flex pt-4">
    <div inlineSVG="/icons/info-circle.svg" class="pr-2"></div>
    <div>
      Afin de pouvoir commencer la partie, il faut un maître espion par équipe
      (<span inlineSVG="/icons/award.svg"></span>) et au moins un espion par
      équipe.
    </div>
  </div>
</app-bootstrap-container>
