<div
  class="root"
  [ngClass.lt-sm]="{ mobile: true }"
  fxLayout="row"
  fxLayoutAlign="center start"
>
  <div
    [@fadeIn]="animated ? 'animated' : 'notAnimated'"
    class="app-card-container"
    [ngClass.lt-sm]="{ mobile: true }"
    [fxFlex]="'0 1 ' + maxWidth"
    fxFlex.lt-sm="1 1 auto"
    fxLayout="column"
    fxLayoutAlign="start stretch"
  >
    <ng-content></ng-content>
  </div>
</div>
