@import '~@angular/material/theming';

.root {
  background-color: mat-color($mat-grey, 100);
  min-height: 100%;
  padding-top: 64px;

  &.mobile {
    background-color: white;
  }
}

.app-card-container {
  @include mat-elevation(4);
  background-color: white;

  margin: 60px 8px;
  padding: 32px;
  border-radius: 4px;

  &.mobile {
    @include mat-elevation(0);
    margin: 0;
    border-radius: 0;

    padding: 24px;
  }
}
