@import '~@angular/material/theming'

table
  @include mat-elevation(2)

.self
  font-weight: bold

.title-cell
  font-size: 20px

.comparison-tag
  margin-left: 8px

tr[mat-row]
  cursor: pointer
  transition: background-color 300ms ease-in-out

  &:hover
    background-color: mat-color($mat-grey, 100) !important

.position-evolution-text
  font-size: 12px
  font-weight: bold

  &.better
    color: mat-color($mat-green, 600)

  &.worse
    color: mat-color($mat-red, 600)

  mat-icon
    vertical-align: middle