<table
  class="score-table"
  mat-table
  [dataSource]="computedItems"
  style="width: 100%"
>
  <ng-container matColumnDef="standing">
    <th mat-header-cell *matHeaderCellDef style="width: 10%; min-width: 86px">
      #
    </th>
    <td mat-cell *matCellDef="let item">
      <span [ngClass]="{ self: item.uuid === selfUuid }">
        {{ item.position + 1 }}
      </span>
      <span
        *ngIf="item.positionGained !== 0"
        class="position-evolution-text"
        [ngClass]="{
          better: item.positionGained > 0,
          worse: item.positionGained < 0
        }"
      >
        <mat-icon [inline]="true">{{
          item.positionGained > 0 ? 'arrow_upward' : 'arrow_downward'
        }}</mat-icon>
        {{
          item.positionGained > 0 ? item.positionGained : -item.positionGained
        }}
      </span>
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th class="title-cell" mat-header-cell *matHeaderCellDef style="width: 60%">
      Joueurs
    </th>
    <td mat-cell *matCellDef="let item">
      <span [ngClass]="{ self: item.uuid === selfUuid }">
        {{ item.name }}
      </span>
    </td>
  </ng-container>
  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef style="width: 30%">Score</th>
    <td mat-cell *matCellDef="let item">
      <span [ngClass]="{ self: item.uuid === selfUuid }"
        >{{ item.score }} (+{{ item.scoreEvolution }})</span
      >
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['standing', 'name', 'score']"></tr>
  <tr
    mat-row
    *matRowDef="let item; columns: ['standing', 'name', 'score']"
    [ngClass]="{ 'player-with-stats': item.uuid === selfUuid }"
    (click)="onItemStandingClicked(item)"
  ></tr>
</table>
