@import '~@angular/material/theming'

.game-card-container
  margin-bottom: 16px

.game-title
  text-transform: capitalize

.new-game-indicator
  color: mat-color($mat-red, 500)
  margin-left: 16px

.new-game-button
  margin-bottom: 20px