<app-card-container maxWidth="800px">
  <h1>Liste des parties</h1>
  <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="16px">
    <!-- Create game button -->
    <button
      class="new-game-button"
      mat-raised-button
      color="primary"
      [matMenuTriggerFor]="menu"
      [disabled]="isCreatingNewGame"
    >
      <mat-icon [fxHide.gt-sm]="true">add</mat-icon>
      <span [fxHide.lt-md]="true">Nouvelle partie...</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onNewGame(GameType.UNO)">
        <span>Nouveau Uno</span>
      </button>
      <button mat-menu-item (click)="onNewGame(GameType.CODE_NAMES)">
        <span>Nouveau Code names</span>
      </button>
      <button mat-menu-item (click)="onNewGame(GameType.EXPLODING)">
        <span>Nouvel Exploding</span>
      </button>
    </mat-menu>

    <!-- Filter input -->
    <mat-form-field fxFlex="1 1 auto" appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [(ngModel)]="filter" placeholder="Filtrer..." />
    </mat-form-field>
  </div>
  <div>
    <div
      *ngFor="let game of games | gameFilter: filter; trackBy: gameTrackBy"
      @gameItem
      class="game-card-container"
    >
      <app-game-item
        [game]="game"
        [isNew]="game.guuid === guuid"
      ></app-game-item>
    </div>
  </div>
</app-card-container>
