<mat-toolbar color="primary">
  <button
    *ngIf="backToGamesListButtonDisplayed"
    [routerLink]="['/games']"
    class="back-button"
    mat-icon-button
    matTooltip="Liste des parties"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Games Front</span>
  <span fxFlex="1 1 auto"></span>
  <button *ngIf="me != null" mat-button [mat-menu-trigger-for]="menu">
    {{ me.name }}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/']">
      <span>Changer...</span>
    </button>
  </mat-menu>
</mat-toolbar>
