<div
  class="p-2 d-inline-flex"
  [ngClass]="{ 'font-weight-bolder': spy.spyMaster }"
>
  <div [inlineSVG]="'/icons/' + spy.icon + '.svg'" class="icon p-1"></div>
  <div class="p-1">
    {{ spy.name }}
  </div>
  <ng-container *ngIf="spy.spyMaster">
    <div inlineSVG="/icons/award-fill.svg" class="icon p-1"></div>
  </ng-container>
</div>
