<div class="players-list" fxLayout="column" fxLayoutAlign="start stretch">
  <div
    *ngFor="let player of stablePlayers; trackBy: trackByPlayer"
    class="player-item"
    [ngClass]="{ 'font-weight-bolder': player.uuid === selfUuid }"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <mat-icon [@currentPlayer]="players[0].uuid === player.uuid ? 'yes' : 'no'">
      arrow_right
    </mat-icon>
    <svg class="player-icon">
      <image [attr.xlink:href]="'icons/' + player.icon + '.svg'" />
    </svg>
    <div fxFlex="1 1 auto">
      {{ player.name }}
    </div>
    <div>
      {{ extraInfo(player) }}
    </div>
  </div>
</div>
