/* You can add global styles to this file, and also import other style files */
@media only screen and (max-width: 600px)
  h2
    font-size: 1.5rem

  h4
    font-size: 1rem


.BLUE
  color: darkblue

.RED
  color: darkred

.selector
  cursor: pointer

.icon
  height: 32px
  width: 32px

a:hover
  cursor: pointer

.icon-select-panel
  display: flex
  flex-direction: row
  flex-wrap: wrap

  mat-option
    flex: 0 0 48px
    display: flex
    align-items: center
    justify-content: center
    height: 48px
    padding: 0

    .mat-option-text
      flex-grow: 0

.mat-form-field-infix
  width: unset !important