<div class="p-3">
  <h2 class="text-center pb-2">Etes-vous sûr ?</h2>
  <div class="d-flex flex-row justify-content-around">
    <button class="btn btn-outline-primary" (click)="onClicked(true)">
      Oui
    </button>
    <button class="btn btn-outline-secondary" (click)="onClicked(false)">
      Non
    </button>
  </div>
</div>
