<div class="m-3">
  <div
    class="selector d-flex justify-content-start flex-wrap m-3"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
  >
    <app-exploding-card
      *ngFor="let card of cards"
      [card]="card"
      [playable]="canPlay(card)"
      (clicked)="onClick(card)"
      cdkDrag
      [cdkDragDisabled]="!canDrag()"
    >
    </app-exploding-card>
  </div>
  <div class="d-flex justify-content-center" *ngIf="canValidate()">
    <button class="btn btn-outline-primary" (click)="onClose()">Valider</button>
  </div>
</div>
