<div>
  <ng-container *ngIf="game.joinable">
    <button
      mat-raised-button
      color="accent"
      (click)="onJoin(game, CodeNameColor.RED)"
    >
      Equipe Rouge
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="onJoin(game, CodeNameColor.BLUE)"
    >
      Equipe Bleue
    </button>
  </ng-container>
  <button
    *ngIf="!game.joinable"
    mat-raised-button
    color="accent"
    (click)="onReplay(game)"
  >
    Rejoindre
  </button>
</div>
