<app-card-container maxWidth="350px">
  <h1>Informations joueur</h1>
  <div class="registration-form">
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
      <mat-form-field class="field">
        <mat-label>Pseudo</mat-label>
        <input matInput formControlName="name" />
        <mat-error>Le pseudo est obligatoire.</mat-error>
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Icône</mat-label>
        <mat-select
          formControlName="icon"
          panelClass="icon-select-panel"
          disableOptionCentering
        >
          <mat-select-trigger *ngIf="formGroup.value.icon != null">
            <svg class="icon-select-icon-preview">
              <image
                [attr.xlink:href]="'icons/' + formGroup.value.icon + '.svg'"
              />
            </svg>
          </mat-select-trigger>
          <mat-option *ngFor="let icon of icons" [value]="icon">
            <svg class="icon-select-icon">
              <image [attr.xlink:href]="'icons/' + icon + '.svg'" />
            </svg>
          </mat-option>
        </mat-select>
        <mat-error>L'icône est obligatoire.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" class="submit-button">
        Commencer
      </button>
    </form>
  </div>
</app-card-container>
