.selected
  color: limegreen

.icon-select-icon
  width: 24px
  height: 24px

  & > image
    width: 24px
    height: 24px

.icon-select-icon-preview
  width: 16px
  height: 16px

  & > image
    width: 16px
    height: 16px

.field
  width: 100%
  margin-bottom: 8px

.submit-button
  width: 100%

// Style for the select panel is in the global styles.
