<app-card-container maxWidth="800px">
  <h2>{{ name }}</h2>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="8px">
    <button
      mat-raised-button
      color="primary"
      (click)="onStartGame()"
      [disabled]="!canStart"
    >
      <mat-icon>play_arrow</mat-icon> Démarrer
    </button>
    <button
      mat-button
      (click)="onShufflePlayers()"
      [disabled]="!canShufflePlayers"
    >
      <mat-icon>shuffle</mat-icon> Mélanger les joueurs
    </button>
    <button mat-button (click)="onResetGame()" [disabled]="!canReset()">
      <mat-icon>clear</mat-icon> Réinitialiser
    </button>
  </div>
  <app-standings-list
    class="score-table"
    [items]="players"
    [selfUuid]="me.uuid"
    [itemToStandingFn]="convertUnoPlayer"
    scoreComparison="lower_is_better"
    (itemClick)="setComparison($event)"
  >
  </app-standings-list>
  <div *ngIf="me.statistics.nbOfGames > 0" class="stats-container">
    <app-uno-players-stats
      [self]="me"
      [playerToCompare]="playerToCompare"
    ></app-uno-players-stats>
  </div>
  <div
    class="info-container"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="8px"
  >
    <mat-icon>info_outline</mat-icon>
    <div>Afin de pouvoir commencer la partie, il faut au moins 2 joueurs.</div>
  </div>
</app-card-container>
